main {
    min-height: calc(100vh - 160px);
  }

.card-body {
    flex-grow: 1; /* Esto asegura que el cuerpo de la tarjeta ocupe todo el espacio disponible */
}

body {
  font-family: 'Arial', sans-serif;
  background-color:mistyrose; 
  color: #343a40;
}

/* Encabezado principal */
h1 {
  font-size: 2.5rem; /* Tamaño de fuente grande */
  margin-bottom: 20px; /* Espacio debajo del encabezado */
  color:saddlebrown;
}

/* Estilo del contenedor de búsqueda */
.container {
  margin-top: 30px; 
}

.btn-primary {
  background-color: #007bff; /* Color de fondo del botón */
  transition: background-color 0.3s;
}

.btn-primary:hover {
  background-color: #0056b3; /* Color más oscuro al pasar el ratón */
}

/* Estilos para las tarjetas */
.card {
  border-radius: 10px; /* Bordes redondeados */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Sombra suave */
  transition: transform 0.3s, box-shadow 0.3s; /* Transiciones suaves */
}

.card:hover {
  transform: translateY(-5px); /* Efecto de elevación al pasar el ratón */
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2); /* Sombra más pronunciada al pasar el ratón */
}

/* Estilo de las imágenes dentro de las tarjetas */
.card-img-top {
  width: 100%; /* Ancho completo */
  height: 200px; /* Altura fija para imágenes cuadradas */
  object-fit: cover; /* Mantener la proporción de la imagen */
  border-top-left-radius: 10px; /* Bordes redondeados en la parte superior */
  border-top-right-radius: 10px; /* Bordes redondeados en la parte superior */
}

/* Estilo del pie de página */
footer {
  background-color: #343a40; 
  color:aliceblue;
  padding: 20px 0; /* Espaciado en el pie de página */
}

footer a {
  color: #007bff; /* Color de los enlaces */
}

footer a:hover {
  text-decoration: underline; /* Subrayado al pasar el ratón */
  color:aqua;
}
